<div class="top-page">
  <div class="side-bar">
    <%= render partial: "shared/side_bar", locals: { spaces: @spaces } %>
  </div>
  <div class="main-page">
    <div class="app-alert">！！！このアプリを活用して、タスクを管理しよう！！！</div>
  </div>
</div>
