<div class="top-page">
  <div class="side-bar">
    <%= render partial: "shared/side_bar", locals: { spaces: @spaces } %>
  </div>
  <div class="main-page">
    <div class="new-space">
      新規作成
      <%= form_with model: @space, url:spaces_path, local: true do |f| %>
      <div>スペース名</div>
        <div class="space-form">
          <%= f.text_field :name, class:"space-name", id:"space-name", maxlength:"20" %>
          <%= f.submit "作成" ,class:"space-create-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>