<div class="show-space">詳細ページ</div>
<div class="show-header">
</div>
<div class="show-main">
  <div ckass="show-title"><%= @space.name %></div>
  <div class="show-content">
    <div class="show-tasks"></div>
    <div class="completed-tasks"></div>
  </div>
</div>
