<div class="task">
  <div class="task-status">
    <%= button_to "完了", { method: :patch,params: {status: 1} } %>
  </div>
  <div class="task-content">
    <%= task.content %>
  </div>
  <div class="task-deadline">
    <%= "完了予定: ~ #{l task.deadline}" %>
  </div>
</div>