<div class="task">
  <div class="task-content">
    <%= task.content %>
  </div>
  <div class="task-deadline">
    <%= l task.deadline %>
  </div>
  <div class="task-status">
    <%= task.status %>
  </div>
</div>