.header-all {
  height: 100px;
  background-color: rgb(43, 7, 90);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar {
  width: 80px;
  height: 80px;
  border-radius : 10px;
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.title {
  font-size: 40px;
  color: rgb(247, 233, 158);
}

.user-info {
  height: 80px;
  background-color: white;
  margin: auto 5px;
  padding: 0px 5px;
  font-size: 12px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
}