.show-header {
  display: flex;
}

.show-edit {
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
}

.show-title {
  height: 80px;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}