.side-menu {
  height: 50px;
  border: 1px solid black;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius : 5px;
}

a {
  text-decoration: none;
  color: blue;
}

.space-menu {
  height: calc(100vh - 280px);
  border: 1px solid black;
  margin: 3px;
  text-align: center;
  background-color: white;
  border-radius : 5px;
}

.space-menu-content {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted black;
}