.show-header {
  display: flex;
}
.main-page {
  display: flex;
  flex-flow: column;
}
.show-header {
  display: flex;
}
.show-edit {
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
}
.show-title {
  height: 100px;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.show-main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.tasks {
  height: 70vh;
  background-color: blanchedalmond;
}
.task {
  display: flex;
  border: 1px solid black;
  padding: 10px;
}
.form {
  display: flex;
  align-items: center;
}
.from-task-content {
  height: 30px;
  width: 400px;
}
.form-task-deadline {
  margin: 0 5px;
  width: 40px;
}